
.bg-1 {
       background-color: grey; 
        color: #ffffff;
    }
    
.bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  
.bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
 
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*CSS for my background Image*/
.bgimg {
    background-image: url('../pics/tokyo.jpg');
    min-width: 100%;
    background-position: center;
    background-size: cover;
}

.titletxt{
	font: 12px "Mate SC", sans-serif;
	color: #ffffff;
}

/*This is the css for the navigation bar*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
   /* color: #1abc9c !important; */
   color: white;
}

/*Css for the footer*/
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
/*css for the font for the body!*/
body {
	 font-family: sans-serif;
	 font-size: 15px;
    line-height: 1.8;
    color: #f5f6f7;
}

.img-size{
	height: 450px;
	width: 400px;
}
h5{
font-family: 'Audiowide';
font-size: 22px;
}